/* CROSSWORDS */

.table-browser {
    border: 4px ridge #337ab7;
    width: 25vw;
    height: 25vw;
    margin: auto;
    border-collapse: collapse;
    table-layout: auto;
}

.input-cell {
    color: rgb(27, 27, 27);
    background-color: rgba(236, 236, 230, 0.726);
    padding: 0;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    border: 3px ridge;
    border-color: #3379b7cc;
    text-transform: capitalize;
    font-weight: bold;
    font-size: large;
    height: 2.5vw;
    width: 2.5vw;
}

.input-cell:focus {
    background-color: rgba(197, 197, 192, 0.726);
}

.cream {
    padding: 0;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    height: 2.5vw;
    width: 2.5vw;
}

.gray {
    background-color: rgb(27, 27, 27);
    padding: 0;
    margin: auto;
    height: 2.5vw;
    width: 2.5vw;
}

@media screen and (max-width: 992px) {
    .table-browser {
        border: 4px ridge #337ab7;
        width: 70vw;
        height: 70vw;
        margin: auto;
        border-collapse: collapse;
        table-layout: auto;
    }
    .gray {
        background-color: rgb(27, 27, 27);
        padding: 0;
        margin: auto;
        height: 7.5vw;
        width: 7.5vw;
    }
    .cream {
        padding: 0;
        margin: auto;
        text-align: center;
        vertical-align: middle;
        height: 7.5vw;
        width: 7.5vw;
    }
    .input-cell {
        color: rgb(27, 27, 27);
        background-color: rgba(236, 230, 236, 0.726);
        padding: 0;
        margin: auto;
        text-align: center;
        vertical-align: middle;
        border: 3px ridge;
        border-color: #3379b7cc;
        text-transform: capitalize;
        font-weight: bold;
        font-size: medium;
        height: 7.5vw;
        width: 7.5vw;
    }
    .input-cell:focus {
        background-color: rgba(197, 197, 192, 0.726);
    }
}


/**/