         /* ----- 
         CSS template I used as a base for my timeline in education.html
         https://codepen.io/mo7amedk7alid29
         */
         
         .box {
             margin: 0 0%;
             height: 630px;
             overflow: hidden;
             padding: 0px 0 0px 60px;
         }
         
         .box ul {
             list-style-type: none;
             margin: 0;
             padding: 0;
             position: relative;
             transition: all 0.5s linear;
             top: 0
         }
         
         .box ul:before {
             content: "";
             display: block;
             width: 0;
             height: 100%;
             border: 1px dashed rgb(9, 23, 148);
             position: absolute;
             top: 0;
             left: 30px
         }
         
         .box ul li {
             margin: 20px 60px 60px;
             position: relative;
             padding: 10px 20px;
             /*background: rgba(100, 94, 179, 0.3);*/
             background-color: rgba(128, 128, 128, 0.082);
             color: rgb(0, 0, 0);
             border-radius: 7px;
             line-height: 25px;
             width: 80%
         }
         
         .box ul li>span {
             content: "";
             display: block;
             width: 0;
             height: 100%;
             border: 1px solid rgb(9, 23, 148);
             position: absolute;
             top: 0;
             left: -30px
         }
         /* PALLINO: */
         
         .box ul li>span:before,
         .box ul li>span:after {
             content: "";
             display: block;
             width: 10px;
             height: 10px;
             border-radius: 50%;
             background: #88a1f1;
             position: absolute;
             left: -5.5px
         }
         
         .box ul li>span:before {
             top: -10px
         }
         
         .box ul li>span:after {
             top: 100%
         }
         
         .box .title {
             font-weight: bolder;
             margin-bottom: 15px;
             font-size: larger;
             text-decoration: underline;
         }
         
         .box .name {
             margin-top: 10px;
             font-style: italic;
             text-align: right;
             margin-right: 15px
         }
         
         .box .time span {
             position: absolute;
             left: -100px;
             color: rgb(9, 23, 148);
             font-size: 90%;
             font-weight: lighter;
         }
         
         .box .time span:first-child {
             top: -16px
         }