ul.timeline li
{
  position: relative;
   height: 3em;
  color: #888;
}
ul.timeline li:before
{
    content: "";
    display: inline-block;
    height: 3em;
    width: 2px;
    background: rgba(150, 149, 149, 0.667);
    margin: 0;
    padding: 0;
    position: absolute;
    left: -12px;
    top: -0.4em;
    z-index: -1;
}
ul.timeline:before
{
  content: "●";
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  left: -1.08em;
  top: 0.2em;
  color: #aaa;
}

ul.timeline:after
{
  content: "●";
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  left: -1.05em;
  top: -1.2em;
  color: #aaa;
}
